
{% load static %}
{% load i18n %}
<div class="empty">
    <div class="empty-img"><img src="{% static 'static/illustrations/undraw_printing_invoices_5r4r.svg' %}" height="128" alt=""></div>
    <p class="empty-title">No results found</p>
    <p class="empty-subtitle text-muted">
        Try adjusting your search or filter to find what you're looking for.
    </p>
    <div class="empty-action">
        {% comment %} <a href="#" class="btn btn-primary" id="add_{{ type }}"> {% endcomment %}
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_{{ type }}">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
            Add
        </a>
    </div>
</div>
