{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block page_css %}
{% endblock %}
{% block page_header %}
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
            {% trans 'Pretitle' %}
        </div>
        <h2 class="page-title">
            {% trans 'Question Bank' %}
        </h2>
      </div>
      <!-- Page title actions -->
        {% if question_bank %}
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_question_bank">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                    {% trans 'Add New Question Bank' %}
                </a>
            </div>
        </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock page_header %}
{% block page_content %}
{% if not question_bank %}
{% include "blank.html" with type="question_bank" %}
{% else %}
<div class="row row-cards">
    {% for category in question_bank %}
    <div class="col-md-6 col-lg-3">
        <a href="{% url 'questions' category.id %}" class="">
            <div class="card card-link card-link-pop">
                <div class="card-status-start bg-primary"></div>    
                <div class="card-header">
                    <h3 class="card-title">{{ category.name }}</h3>
                    <div class="card-actions btn-actions">
                        <a href="#" class="btn-action deleteQuestionBank" data-id="{{ category.id }}" data-name="{{ category.name }}"><!-- Download SVG icon from http://tabler-icons.io/i/x -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"></path></svg>
                        </a>
                    </div>
                </div>
                <span class="badge bg-red badge-notification badge-pill">{{ category.question_count }}</span>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="modal modal-blur fade" id="modal_add_question_bank" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="create_new_question_bank" data-parsley-validate>
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Create New Question Bank' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label required">{% trans 'Question Bank' %}</label>
                        <input type="text" class="form-control mb-2" name="name" placeholder="Question Bank Name" required autofocus>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        {% trans 'Cancel' %}
                    </a>
                    <button type="submit" class="btn btn-primary ms-auto">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        {% trans 'Create' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}
{% block page_script %}
<script>
    $(document).ready(function () {
        submitFormWithAjax({
            formId: "#create_new_question_bank",
            url: "{% url 'questionbank' %}",
            method: "POST",
            successMessage: "{% trans 'Create Success' %}",
            errorMessage: "{% trans 'Create Failed' %}",
            successCallback: () => location.reload(),
            errorCallback: () => location.reload(),
        });

        $(".deleteQuestionBank").click((e) => {
            e.preventDefault();
            const questionBankId = $(e.currentTarget).data("id");
            const questionBankName = $(e.currentTarget).data("name");
            showWarningMessage({
                title: "{% trans 'Delete Question Bank' %}",
                text: `{% trans 'Are you sure you want to delete the Question Bank' %} “${questionBankName}”?`,
                confirmButtonText: "{% trans 'Delete' %}",
                showCancelButton: true,
            }).then((result) => {
                if (result.value) {
                    sendAjaxRequest({
                        method: "DELETE",
                        url: "{% url 'delete_questionbank' 0 %}".replace("0", questionBankId),
                        dataType: "json",
                        headers: { "X-CSRFToken": '{{ csrf_token }}' },
                        successMessage: "{% trans 'Question Bank have been deleted successfully' %}",
                        errorMessage: "{% trans 'Delete uestion Bank failed' %}",
                        successCallback: () => location.reload()
                    });
                }
            });
        });
    });
</script>
{% endblock page_script %}