{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block page_css %}
{% endblock %}
{% block page_pretitle %}
Pretitle
{% endblock page_pretitle %}
{% block page_title %}
Question Bank
{% endblock page_title %}
{% block page_content %}
{% if not question_category %}
{% include "blank.html" with type="question_category" %}
{% else %}
<div class="row row-cards">
    <div class="col-md-6 col-lg-3">
        <a href="#" class="card card-link card-link-pop">
            <div class="card-status-start bg-primary"></div>
            <div class="card-body">Pop hover effect</div>
        </a>
    </div>
</div>
{% endif %}
<div class="modal modal-blur fade" id="modal_add_question_category" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="create_new_category">
                <div class="modal-header">
                    <h5 class="modal-title">New category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <input type="text" class="form-control" name="category_name" placeholder="Category name">
                    </div>
                </div>
                
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        Create new category
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}
{% block page_script %}
<script>
    $(document).ready(function () {
        $("#create_new_category").on("submit", function (e) {
            e.preventDefault();
            console.log("!!!")
        });
    });
</script>
{% endblock page_script %}