{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block page_css %}
{% endblock %}
{% block page_pretitle %}
{% trans 'Subject' %}
{% endblock page_pretitle %}
{% block page_title %}
{{ question_bank.name }}
{% endblock page_title %}
{% block page_title_actions %}
{% if questions %}
<div class="col-auto ms-auto d-print-none">
    <div class="btn-list">
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_question">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
            {% trans 'Add New Question' %}
        </a>
    </div>
</div>
{% endif %}
{% endblock page_title_actions %}
{% block page_content %}
{% if not questions %}
{% include "blank.html" with type="question" %}
{% else %}
<div class="row row-cards">
    {% for question in questions %}
    <div class="col-md-6 col-lg-3">
        <a href="{% url 'questioncategory' category.id %}" class="card card-link card-link-pop">
            <div class="card-status-start bg-primary"></div>
            <div class="card-body">{{ question.question_text }}</div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="modal modal-blur fade" id="modal_add_question" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="create_new_question" data-parsley-validate>
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Create New Question' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="form-label required">{% trans 'Qestion type' %}</label>
                    <div class="form-selectgroup-boxes row mb-3">
                        {% for type in question_type %}
                        <div class="col-lg-3 mb-2">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="question_type" value="{{ type.0 }}" id="{{ type.0 }}" class="form-selectgroup-input" {% if forloop.first %} checked {% endif %}>
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">{{ type.1 }}</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3 mb-0">
                                <label class="form-label required">{% trans 'Question' %}</label>
                                <textarea rows="5" class="form-control" placeholder="{% trans 'Please type the question' %}" value=""></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 mb-0" id="optionListParent" style="display: None;">
                                <label class="form-label required">{% trans 'Options' %}</label>
                                <div id="optionList"></div>
                            </div>
                            
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 mb-0">
                                <label class="form-label required">{% trans 'Answer Details' %}</label>
                                <textarea rows="5" class="form-control" placeholder="{% trans 'Please type the answer details' %}" value=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        {% trans 'Cancel' %}
                    </a>
                    <button type="submit" class="btn btn-primary ms-auto">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        {% trans 'Create' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}
{% block page_script %}
<script>
    $(document).ready(function () {
        submitFormWithAjax({
            formId: "#create_new_question",
            url: "{% url 'create_questions' question_bank.pk %}",
            method: "POST",
            successMessage: "{% trans 'Create Success' %}",
            errorMessage: "{% trans 'Create Failed' %}",
            successCallback: () => location.reload(),
            errorCallback: () => location.reload(),
        });
        const optionListElement = $("#optionList");
        const optionListParentElement = $("#optionListParent");
        const addIcon = () => {
            return`
            <a href="#" class="link-green ms-2 mt-2 add-new-option">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M9 12h6" /><path d="M12 9v6" /></svg>
            </a>
            `
        }
        const optionHtml = (option) => {
            return `
            <div class="input-group mb-2">
                <span class="input-group-text answer-text">
                  ${option.toUpperCase()}
                </span>
                <input type="text" class="form-control" placeholder="Answer ${option.toUpperCase()}" autocomplete="off">
                <span class="input-group-text">
                    <input class="form-check-input m-0" type="checkbox">
                </span>
                <a href="#" class="link-red ms-2 mt-2 remove-option">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-minus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 12l6 0" /></svg>
                </a>
            </div>
            `
        }
        const addOption = (option) => {
            optionListElement.append(optionHtml(option));
        }
        const initOptionList = () => {
            const options = ["A", "B", "C", "D"];
            options.forEach((option, index) => {
                addOption(option);
            });
            {% comment %} 在最後加入add icon {% endcomment %}
            optionListParentElement.append(addIcon())
        }
        const showOptionElement = () => optionListParentElement.show();
        const actions = {
            single_choice: () => console.log("1"),
            multiple_choice: () => showOptionElement(),
            short_answer: () => console.log("3"),
            true_false: () => console.log("4")
        };
        $("input[name='question_type']").click((e) => {
            const questionType = $(e.currentTarget).attr("id");
            const action = actions[questionType];
            if (action) {
                action();
            }
        });
        $(document).on("click", ".add-new-option", (e) => {
            {% comment %} 65是A,依照現在的數量去加,就會按照ABCD排序下去 {% endcomment %}
            const option = String.fromCharCode(65 + optionList.childElementCount);
            optionListElement.append(optionHtml(option));
        });
        {% comment %} 刪除選項 {% endcomment %}
        $('#optionList').on('click', '.remove-option', function() {
            $(this).closest('.input-group').remove();

            {% comment %} 重新編號 {% endcomment %}
            $('#optionList').children('.input-group').each(function(index) {
                const option = String.fromCharCode(65 + index);
                $(this).find('.answer-text').text(option);
                $(this).find('input[type="text"]').attr('placeholder', `Answer ${option}`);
            });
        });

        initOptionList();
    });
</script>
{% endblock page_script %}